!!! 5
html
  head
    meta(charset="utf-8")
    title JS Builder
    link(rel="stylesheet", href="style.css")
    script(type="text/javascript", src="builder.js")
  body
    h1 JS Builder Demo
    h2= library
    hr
    div
      strong
        | The&nbsp;
        =library
        | &nbsp;core is included by default
    br
    for file in files
      li
        label(for=file)
          input(type="checkbox", value=file, id=file)
          = file
    li
      label(for="minify")
        input(type="checkbox", value="minify", id="minify")
        strong Minify
    div#output
      br
      input(type="button", value="get URL")
      input(type="textbox")
      br
      h3 Sample Response:
      br
      textarea(readonly="true")